.Bio {
  margin-bottom: 20px;
}

.AvatarContainer {
  display: flex;
  justify-content: center;
}

.Avatar {
  width: 75px !important;
  height: 75px !important;
}

.Actions {
  justify-content: center;
}

.SocialButton {
  width: 100%;
}

.Skill {
  margin: 5px;
}

.CardHeader {
  width: 100%;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px 10px;
}

.CourseList {
  padding-inline-start: 0;
}

.CourseListItem {
  font-size: 14px;
  list-style-type: none;
  padding-bottom: 10px;
}

.ArrowBullet {
  vertical-align: middle;
}

.LinkIcon {
  vertical-align: middle;
  color: #3c99f0;
  padding-left: 5px;
}
