.Bio {
}

.AvatarContainer {
	display: flex;
	justify-content: center;
}

.Avatar {
	width: 75px !important;
	height: 75px !important;
}

.Actions {
	justify-content: center;
}

.SocialButton {
	width: 100%;
}