.Project {
  max-width: 100%;
  margin-bottom: 15px;
  min-height: 230px;
  position: relative;
}

.Tag {
  margin-right: 5px;
  margin-bottom: 5px;
}

.Tag:focus {
  font-weight: bold;
}

.FilterContainer {
  margin-bottom: 20px !important;
  text-align: center;
}

.Filter {
  padding: 20px 20px 15px 20px;
}

.ProjectActions {
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
